.header {background-color: indianred; 
    font-family:cursive;
}

h1, h2 {color: white; 
    text-align: center;
}

.favorite {text-align: center;
}

img {width: 500px; 
    border-radius: 20px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-me {background-color: aquamarine; 
    text-indent: 10px;
}